@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #FFFFFF;
  }
}

:root {
  --foreground-rgb: 29, 29, 31;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
}

/* Apple-style smooth scroll */
html {
  scroll-behavior: smooth;
}
